# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Environment files
.env.local
.env.*.local

# Docker overrides
docker-compose.override.yml

# Build output
dist/
build/
postman/
.postman/